@model IEnumerable<MvcWC11.Resto>

@{
    ViewBag.Title = "Accueil";
}

<h2>Accueil</h2>


@foreach (var item in Model)
{
    
    <div>
        <h4>@item.Nom</h4>
        <div>
            @item.CodePostal, @item.Ville
        </div>
        <div>
            <h5>
                @if (item.Critiques.Count == 0)
            {
                <text>Pas de Critique</text>
            }
            else
            {
                    @item.Critiques.Count @:Critique(s)
            }
            </h5>

        </div>
        <hr />
    </div>
    
}
