@model IEnumerable<MvcWC11.Models.RestoListViewModel>

@{
    ViewBag.Title = "Stats";
}

<h2>Saisir le nom d'un resto</h2>
@*<form method="get">
    <input  type="text" name="searchTerm" />
    <input type="submit" value="Rechercher" />
</form>*@

@using (Ajax.BeginForm(new AjaxOptions 
                        { 
                           HttpMethod = "get",
                           UpdateTargetId="divRestos", 
                           LoadingElementDuration=200,
                           LoadingElementId="divLoad"
                        }))
{
    <input type="text" name="searchTerm" />
    <input type="submit" value="Rechercher" />
}

<div id="divLoad" style="display:none;">
    En cours de Chargement ....
</div>


@Html.Partial("_Restos", Model)

