@{
    ViewBag.Title = "TestAPI";
}


<div style="margin-top:100px;">
    <div style="margin: 0px 10px; width: 40%; float: left;">
        <form method="post" id="addRevue">
            <div>
                <label for="Titre">Titre</label>
                <input type="text" name="Titre" id="Titre" />

                <label for="Exemplaire">Exemplaire</label>
                <input type="text" name="Exemplaire" id="Exemplaire" />

                <label for="Prix">Price</label>
                <input type="text" name="Prix" id="Prix" />

                <input type="submit" value="Add" />
            </div>
        </form>
        <label for="revueId">Search By ID</label>
        <input type="text" size="20" id="revueId" />
        <input type="button" onclick="find();" value="Rechercher" />

        <label id="revue">
            Test
        </label>
    </div>
    <div id="revues" style="margin: 10px; width: 40%; float: left;">
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#addRevue").submit(function () {
                var RevueAAjouter = {
                    Titre: $("#Titre").val(),
                    Exemplaires: $("#Exemplaire").val(),
                    Prix: $("#Prix").val()
                };
                $.ajax(
                    {
                        url: "http://localhost:1978/api/revues/",
                        type: "POST",
                        data: JSON.stringify(RevueAAjouter),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            alert("Ajout effectué de : " + data.Titre);
                        },
                        error: function (jqXHR, textStatus, err) {
                            $('#revue').html('Error: ' + err);
                        },
                        complete: function () { GetAllRevues(); }

                    });
                return false;
            });
            $("#removeRevue").live("click", function () {
                var id = $(this).attr("info");
                alert(id);
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:1978/api/revues/" + id,
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        alert("Suppression du Magazine N°" + id)
                        GetAllRevues();
                    }
                });
                return false;
            });
            //$("input[type=\"submit\"], .removeRevue, .viewImage").button();
        });

        function find() {

            var id = $('#revueId').val();
            //alert(id);
            $.ajax({
                dataType: 'json',
                cache: false,
                url: "http://localhost:1978/api/revues/" + id,
                type: "get",
                success: function (data) {
                    //alert(data);
                    var str = data.Titre + ': €' + data.Prix;
                    //alert(str);
                    $('#revue').html(str);
                },
                error: function (jqXHR, textStatus, err) {
                    $('#revue').html('Error: ' + err);
                }
            });
            //.fail(
            //    );
        }

        function DisplayRevues(data) {
            var strResult = "<table><th>Revue N°</th><th>Titre</th><th>Prix</th><th>Nb Exemplaires</th><th>Action</th>";
            $.each(data, function (index, uneRevue) {
                strResult += "<tr><td>" + uneRevue.Id + "</td><td>" + uneRevue.Titre + "</td><td>" +
                    uneRevue.Prix + "</td><td>" + uneRevue.Exemplaires + "</td><td><button id='removeRevue' info='"+uneRevue.Id+"'>Supprimer</button></td></tr>";
            });
            strResult += "</table>";
            $("#revues").html(strResult);
            $("#revues table tr:odd").css("background-color", "#D2D4CA");
            $("#revues table tr th").css("background-color", "#DDED9E").css("text-align", "center");
            $("#revues table").css("font-size", "0.85em");
        }

        function GetAllRevues() {
            $.ajax({
                dataType: 'json',
                cache: false,
                url: "http://localhost:1978/api/revues/",
                type: "get",
                success: function (data) {
                    DisplayRevues(data);
                },
                error: function (jqXHR, textStatus, err) {
                    $('#revue').html('Error GetAll: ' + err);
                }
            });
        }

        GetAllRevues();

    </script>
}