{% extends 'pdf/base.html.twig' %}

{% block body %}
    <h1 style="color:#558923">Tous responsables ! </h1>
    <p style="">{{ fiche_contenu }}</p>
    <p style="">{{ fiche_description }}</p>
{% endblock %}
