@model stopgaspi.sw.WebSite2.App_Code.entites.User

@{
    ViewBag.Title = "Authentification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authentification</h2>

<div>
    @Html.ActionLink("Se connecter", "Connexion")
</div>

<div>
    @Html.ActionLink("S'inscrire", "Inscription")
</div>