





<fieldset>
    <label for="txtTexte"></label>
    <input type="txtTexte" name="txtTexte" />

    <label for="txtNote"></label>
    <input type="txtTexte" name="txtTexte" />

    <label for="txtTexte"></label>
    <input type="txtPseudo" name="txtTexte" />

    <button onClick="Ajout()">Ajouter une Critique</button>
</fieldset>


