@model IEnumerable<MvcWC11.Critique>



@foreach (var item in Model)
{
    
    @Html.Partial("_Critique", item)
}


<hr />
<fieldset>
    <legend>Critique </legend>
    <label for="txtTexte"></label>
    <input type="text" name="txtTexte" id="txtTexte"/>

    <label for="txtNote"></label>
    <input type="text" name="txtNote" id="txtNote"/>

    <label for="txtPseudo"></label>
    <input type="text" name="txtPseudo" id="txtPseudo"/>

    <input type="hidden" name="txtResto" id="txtResto"
         value="@Model.First().RestoId" />

    <button onclick="CreateCritique()">Ajouter une Critique</button>
</fieldset>

<script>
    function CreateCritique() {
        @*     $.post("@Url.Action("CreerCritique","Critique")", {
            c: $("#txtCritique").attr("value"),
            n: $("#txtNote").attr("value"),
            p: $("#txtPseudo").attr("value"),
            r: $("#txtResto").attr("value")
        }, Maj);
       
    }

    function Maj()
    {

    }*@

        var CritiqueAAjouter = {
            Texte: $("#txtTexte").val(),
            Note: $("#txtNote").val(),
            Pseudo: $("#txtPseudo").val(),
            RestoId:$("#txtResto").val()
        };
        $.ajax(
            {
                url: "@Url.Action("Create", "Critique")",
                type: "POST",
                data: JSON.stringify(CritiqueAAjouter),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("Ajout effectué de : " + data.CritiqueAAjouter.Texte);
                },
                error: function (jqXHR, textStatus, err) {
                    $('#revue').html('Error: ' + err);
                },
                complete: function () { GetAllRevues(); }

            });


    }
</script>
