{% extends 'base.html.twig' %}

<form action="{{ path('create_user') }}" method="post">
    <input type="text" name="nom"/>
    <input type="text" name="prenom"/>
    <input type="text" name="adresse"/>
    <input type="text" name="ville"/>
    <input type="text" name="mail"/>
    <input type="text" name="telephone"/>
    <input type="hidden" name="application_mobile" value="1"/>
    <input type="text" name="date_creation"/>
    <input type="text" name="type_user"/>
    <input type="text" name="login"/>
    <input type="text" name="password"/>
    <input type="text" name="confirm_password"/>
</form>